body
{
background-color:#006600;
color:white;
}

.container
{
text-align:center;
}

.box
{
border:0.1em solid #0FF;
background-color:grey;
padding:1em;
}

a:link
{
color:yellow;
}
a:visited
{
color:orange;
}
a:hover
{
color:red;
}
a:active
{
color:green;
}